@font-face {
  font-family: open-sans;
  src: url(../webfonts/OpenSans-Regular.ttf);
}

body{
  font-family: open-sans;
  background-color: #161616;
}

.e-mail:before {
  content: attr(data-website) "\0040" attr(data-user);
  unicode-bidi: bidi-override;
  direction: rtl;
}

/* The colors should be of weight 800 */
.bg-conf {
  background-color: #276749;
}

.bg-workshop {
  background-color: #2c5282;
}

.bg-progress {
  background-color: #D1D5DB;
  color: #161616;
}

.bg-ta {
  background-color: #553c9a;
}

.bg-volunteer {
  background-color: #3B82F6;
}

.bg-teacher {
  background-color: #9c4221;
}

.bg-other, .bg-preprint {
  background-color: #2d3748;
}

.bg-pc {
  background-color: #d97706;
}

.bg-invited {
  background-color: #DC2626;
}
