<section>
  <div class="overflow-hidden bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div
        class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">Cyber security and privacy specialist</h2>
            <p
              class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              About me
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              I have more than ten years of technical experience focused on security and privacy. I hold a
              <span class="text-indigo-600 font-semibold"> Bachelor’s degree in Software Development</span>, a
              <span class="text-indigo-600 font-semibold"> Master’s degree in Computer Science</span>, specialising in
              information security, and a <span class="text-indigo-600 font-semibold"> PhD in Computer Science</span>,
              from the
              <a
                href="https://en.itu.dk"
                target="_blank"
                rel="noopener noreferrer"
                class="text-indigo-600 font-semibold underline"
                >IT University of Copenhagen</a
              >. My research explored efficient and secure data movement at the hardware level, including offload, and
              resulted in Delilah — the first publicly described storage device to run eBPF.
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Working at the intersection of technical and strategic security, I translate vulnerabilities, regulations
              and business goals into actionable measures. My hands-on background with cyber security and software
              development complements an understanding of risk and organisational priorities, enabling me to advise
              stakeholders from several angles.
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Outside academia, I have collaborated with companies across industries and founded my first business at
              16, gaining insight into real-world constraints and the importance of aligning security with business
              value.
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              My goal is to help build a secure digital society where data and privacy are protected while supporting
              innovation and meeting regulatory demands.
            </p>
          </div>
        </div>
        <img
          src="{{ image }}"
          alt="{{ name}}"
          class="w-full max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 lg:w-[57rem] lg:-ml-0"
          eleventy:widths="672,912"
          sizes="(width <= 1024px) 672px, 912px">
      </div>
    </div>
  </div>
</section>
