<section
  class="bg-gradient-to-br from-gray-900 via-black to-gray-800 text-gray-200 body-font">
  <div
    class="max-w-7xl mx-auto py-16 px-10 sm:py-24 sm:px-6 lg:px-8 text-center">
    <h2
      class="mt-1 text-2xl font-extrabold text-white sm:text-3xl sm:tracking-tight lg:text-4xl">
      Want to get in touch?
    </h2>
    <p class="max-w-3xl mt-5 mx-auto text-lg text-white">
      Feel free to send me an e-mail at
      <a
        href="mailto:website-af5b41@sl.hed.am"
        class="text-indigo-500 underline">
        website-af5b41@sl.hed.am</a
      >.
    </p>
  </div>
</section>
