<header class="bg-black text-gray-200 body-font">
  <div class="container mx-auto max-w-7xl px-8 py-4">
    <nav>
      <a href="/" class="text-xl font-bold text-gray-200 hover:text-gray-400">Niclas Hedam</a>
    </nav>
  </div>
</header>
