<section
  class="w-full h-screen px-3 antialiased bg-gradient-to-br from-gray-900 via-black to-gray-800 lg:px-6">
  <div class="mx-auto max-w-7xl">
    <div class="container px-6 py-32 md:py-64 mx-auto text-center md:px-4">
      <h1
        class="text-4xl font-medium leading-none leading-10 tracking-tight text-white sm:text-5xl md:text-6xl xl:text-7xl">
        <span class="block">Hello, I'm</span>
        <div class="glitch-wrapper">
          <div
            class="relative inline-block mt-3 text-indigo-600 glitch text-8xl"
            data-glitch="{{ name }}">
            {{ name }}
          </div>
        </div>
      </h1>
      <p
        class="mx-auto mt-6 text-sm text-gray-200 text-center md:mt-12 sm:text-base md:max-w-xl md:text-lg xl:text-xl">
        I'm a <span class="text-indigo-500">Security Advisor</span> at
        <a
          href="https://itm8.com"
          target="_blank"
          rel="noopener noreferrer"
          class="text-indigo-500 underline">
          itm8</a
        >, helping organisations protect their information and systems. I work at the intersection of technical and
        strategic security, helping stakeholders understand their options and strengthen their defences.
      </p>
    </div>
  </div>
</section>
