<section
  class="w-full h-screen px-3 bg-gradient-to-br from-gray-900 via-black to-gray-800 lg:px-6">
  <div class="mx-auto max-w-7xl">
    <div class="container px-6 py-32 md:py-64 mx-auto text-center md:px-4">
      <span
        class="text-4xl font-medium leading-none leading-10 tracking-tight text-gray-300 sm:text-5xl md:text-6xl xl:text-5xl">
        <span class="block">Hello, I'm</span>
        <div class="glitch-wrapper">
          <h1
            class="relative inline-block mt-3 text-indigo-600 glitch text-7xl"
            data-glitch="{{ name }}">
            {{ name }}
          </h1>
        </div>
      </span>
      <p
        class="mx-auto mt-6 text-sm text-gray-300 text-center md:mt-12 sm:text-base md:max-w-xl md:text-lg xl:text-xl">
        I am a <span class="text-indigo-500">Security Architect</span> and
        <span class="text-indigo-500">Systems Engineer</span> who turns complex and mission-critical challenges into
        reliable and secure solutions.
      </p>
    </div>
  </div>
</section>
