{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSameLine": true,
  "plugins": ["@shopify/prettier-plugin-liquid"],
  "overrides": [
    {
      "files": "*.njk",
      "options": {
        "parser": "liquid-html"
      }
    },
    {
      "files": "src/sitemap.njk",
      "options": {
        "parser": "html"
      }
    }
  ]
}
