<!doctype html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'components/seo.njk' %}
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap"
      rel="stylesheet">
    <style>
      [x-cloak] {
        display: none;
      }
    </style>
    <link href="/assets/css/dist.css?v={{ cachebust }}" rel="stylesheet">
    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220%200%20100%20100%22><text y=%22.9em%22 font-size=%2290%22>🔐</text></svg>">
  </head>
  <body class="items-start justify-center h-full bg-white">
    {{ content | safe }}
    {% include 'components/footer.njk' %}
    <script>
      window.addEventListener('load', () => {
        const link = document.createElement('link');
        link.rel = 'stylesheet';
        link.href = 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css';
        link.crossOrigin = 'anonymous';
        document.head.appendChild(link);
      });
    </script>
  </body>
</html>
