<!DOCTYPE html>
<html lang="en">

<head>
    <title>Niclas Hedam</title>

    <meta name="robots" content="index, follow">
    <meta name="language" content="EN">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="css/tailwind.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
</head>

<body class="text-white">
    <div class="container mx-auto mt-32 flex flex-wrap" role="main">
      <div class="flex-1 mb-8 text-center mx-8">
        <img class="h-48 w-48 rounded-full mx-auto mb-4" alt="Picture of Niclas Hedam" src="niclashedam.png">
        <h1 class="text-5xl">NICLAS HEDAM</h1>
        <h2 class="text-xl">PhD Fellow, Computer Science</h2>
        <h3 class="text-lg">&#127465;&#127472; Copenhagen, DK</h3>

        <div class="text-center flex flex-wrap w-64 lg:w-2/3 mt-8 mx-auto">
            <div class="flex-1">
                <a aria-label="GitHub profile" target="_blank" href="https://github.com/niclashedam">
                    <i class="fab fa-2x fa-github" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex-1">
                <a aria-label="LinkedIn profile" target="_blank" href="https://linkedin.com/in/hedam">
                    <i class="fab fa-2x fa-linkedin" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex-1">
                <a aria-label="Medium profile" target="_blank" href="https://medium.com/@niclashedam">
                    <i class="fab fa-2x fa-medium" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex-1">
                <a aria-label="ResearchGate profile" target="_blank" href="https://www.researchgate.net/profile/Niclas_Hedam">
                    <i class="fab fa-2x fa-researchgate" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex-1">
                <a aria-label="StackOverflow profile" target="_blank" href="https://stackoverflow.com/users/1161584/hedam">
                    <i class="fab fa-2x fa-stack-overflow" aria-hidden="true"></i>
                </a>
            </div>
            <div class="flex-1">
                <a aria-label="PGP Keys" target="_blank" href="https://keyserver.pgp.com/vkd/SubmitSearch.event?&&SearchCriteria=Niclas+Hedam">
                    <i class="fas fa-2x fa-key" aria-hidden="true"></i>
                </a>
            </div>
        </div>
      </div>
      <div class="flex-1 mx-8 mb-8">
        <div>
          <h3 class="text-xl text-center">Publications</h3>
          <hr class="w-64 mx-auto mt-2" />
          {% assign mid = site.publications | sort: 'date' %}
            {% assign publications = mid | reverse %}
            {% for pub in publications %}
              <div class="w-full mt-2 mx-auto flex">
                <div class="mt-1 w-32 h-8 text-sm text-center mr-4 rounded bg-{{ pub.type }}">
                  <span class="mt-1 inline-block">
                    {% if pub.type == "conf" %}
                      Conference
                    {% elsif pub.type == "workshop" %}
                      Workshop
                    {% endif %}
                  </span>
                </div>
                <div class="flex-1">
                  <span>
                    <b>{{ pub.title | escape }}</b>.
                  </span>
                  {{ pub.authors | escape }}
                  Published {{ pub.date | date: "%b %Y" }} @ {{ pub.journal | escape }}.
                  {% if pub.pdf %}
                    <a href="{{ pub.pdf }}" title="{{ pub.date | date: "%Y" }} {{ pub.journal | escape }} publication" target="_blank" class="text-red-500">[pdf]</a>
                  {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>
        <div class="mt-12">
          <h3 class="text-xl text-center">Teaching</h3>
          <hr class="w-64 mx-auto mt-2" />
          {% assign mid = site.teaching | sort: 'date' %}
            {% assign teaching = mid | reverse %}
            {% for teach in teaching %}
              <div class="w-full mt-2 mx-auto flex">
                <div class="mt-1 w-32 h-8 text-sm text-center mr-4 rounded bg-{{ teach.role }}">
                  <span class="mt-1 inline-block">
                    {% if teach.role == "ta" %}
                      Teaching Assistant
                    {% elsif teach.role == "teacher" %}
                      Teacher
                    {% endif %}
                  </span>
                </div>
                <div class="flex-1">
                  <span>
                    <b>{{ teach.title | escape }}</b> at {{ teach.location | escape }}.
                  </span>
                  <br />
                  {{ teach.start | date: "%b %Y" }} to {{ teach.end | date: "%b %Y" }}
                </div>
              </div>
          {% endfor %}
        </div>
        <div class="mt-12">
          <h3 class="text-xl text-center">Talks</h3>
          <hr class="w-64 mx-auto mt-2" />
          {% assign mid = site.talks | sort: 'date' %}
            {% assign talks = mid | reverse %}
            {% for talk in talks %}
              <div class="w-full mt-2 mx-auto flex">
                <div class="mt-1 w-32 h-8 text-sm text-center mr-4 rounded bg-{{ talk.type }}">
                  <span class="mt-1 inline-block">
                    {% if talk.type == "conf" %}
                      Conference
                    {% elsif talk.type == "workshop" %}
                      Workshop
                    {% endif %}
                  </span>
                </div>
                <div class="flex-1">
                  <span>
                    <b>{{ talk.title | escape }}</b>.
                  </span>
                  Presented {{ talk.date | date: "%d. %b %Y" }} @ {{ talk.location | escape }}.
                  {% if talk.pdf %}
                    <a href="{{ talk.pdf }}" title="{{ talk.location | escape }} {{ talk.date | date: "%Y" }} presentation" target="_blank" class="text-red-500">[pdf]</a>
                  {% endif %}
                </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <script type="application/ld+json">
        {
          "@context": "https://schema.org/",
          "@type": "Person",
          "name": "Niclas Hedam",
          "gender": "male",
          "alumniOf": [
            {
              "@type": "CollegeOrUniversity",
              "name": "IT University of Copenhagen",
              "sameAs": "https://itu.dk"
            }
          ],
          "worksFor": [
            {
              "@type": "CollegeOrUniversity",
              "name": "IT University of Copenhagen",
              "sameAs": "https://itu.dk"
            }
          ],
          "Description": "PhD Fellow at IT University of Copenhagen",
          "jobTitle": "PhD Fellow",
          "nationality": "Danish",
          "url": "https://hed.am",
          "image": "https://hed.am/niclashedam.png",
          "sameAs": [
            "https://github.com/niclashedam/",
            "https://www.linkedin.com/in/hedam/",
            "https://medium.com/@niclashedam",
            "https://www.researchgate.net/profile/Niclas_Hedam",
            "https://stackoverflow.com/users/1161584/hedam/",
            "https://scholar.google.com/citations?user=DdLrWgwAAAAJ",
            "https://dasya.itu.dk/people/niclashedam/",
            "https://twitter.com/niclashedam",
            "https://pure.itu.dk/portal/da/persons/niclas-hedam(c07af2ac-7d8d-482a-ba4c-cd9559612df6).html"
          ]
        }
    </script>
</body>

</html>
