---
layout: layouts/base.njk
title: Page not found
description: "Sorry, we could not find the page you're looking for."
permalink: 404.html
eleventyNavigation:
  key: /404.html
  parent: /
  title: 404
---
<main
  class="w-full h-screen px-3 bg-gradient-to-br from-gray-900 via-black to-gray-800 px-6 py-24 sm:py-32 lg:px-8">
  <div class="text-center">
    <div class="glitch-wrapper">
      <div
        class="relative inline-block mt-3 text-indigo-600 glitch text-8xl"
        data-glitch="404">
        404
      </div>
    </div>
  </div>
</main>
