---
layout: layouts/base.njk
name: Niclas Hedam
title: Niclas Hedam | PhD | Security Advisor
description: "Niclas Hedam is a PhD from the IT University of Copenhagen and a Security Advisor at itm8, helping organisations protect their information and systems."
image: /assets/images/niclas.jpeg
keywords:
  - Niclas Hedam
  - Hedam
  - Security
  - Security Advisor
  - Privacy
  - Data Protection
  - Security-by-Design
  - Privacy-by-Design
  - IT University of Copenhagen
  - itm8
eleventyNavigation:
  key: /
  title: Home
---
<main>
  {% include 'components/hero.njk' %}
  {% include 'components/about.njk' %}
  {% include 'components/experience.njk' %}
  {% include 'components/skills.njk' %}
  {% include 'components/contact.njk' %}
  {% include 'components/posts.njk' %}
</main>
