---
layout: layouts/base.njk
name: Niclas Hedam
title: "Security Architect & Privacy Expert | Niclas Hedam"
description: "Niclas Hedam is a PhD from the IT University of Copenhagen and a Security Architect, focusing on helping organisations protect their information and systems."
image: /assets/images/niclas.jpeg
keywords:
  - niclas hedam
  - security architect
  - privacy by design expert
  - data protection expert
  - threat modeling
  - cybersecurity research
  - phd security expert
  - security architecture
  - privacy engineering
  - copenhagen security researcher
  - cybersecurity thought leader
  - european privacy expert
  - computer science phd
  - cybersecurity authority
  - it university of copenhagen
  - rigspolitiet
  - national police of denmark
---
<main id="main-content">
  {% include 'components/hero.njk' %}
  {% include 'components/about.njk' %}
  {% include 'components/experience.njk' %}
  {% include 'components/skills.njk' %}
  {% include 'components/contact.njk' %}
  {% include 'components/posts.njk' %}
</main>
