---
permalink: sitemap.xml
eleventyExcludeFromCollections: true
layout: null
---

<?xml version="1.0" encoding="UTF-8"?>
<urlset
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd"
  xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://hed.am/</loc>
    <lastmod>{{ collections.blog[0].date | machineDate }}</lastmod>
  </url>
  {% for pdf in papers %}
  <url>
    <loc>https://hed.am/papers/{{ pdf.file }}</loc>
    <lastmod>{{ pdf.lastmod }}</lastmod>
  </url>
  {% endfor %}
  <url>
    <loc>https://hed.am/blog/</loc>
    <lastmod>{{ collections.blog[0].date | machineDate }}</lastmod>
  </url>
  <url>
    <loc>https://hed.am/blog/categories/</loc>
    <lastmod>{{ collections.blog[0].date | machineDate }}</lastmod>
  </url>
  {% for cat in collections.categories %}
  <url>
    <loc>https://hed.am/blog/categories/{{ cat.slug }}/</loc>
    <lastmod>{{ cat.posts[0].date | machineDate }}</lastmod>
  </url>
  {% endfor %} {% for post in collections.blog %}
  <url>
    <loc>https://hed.am{{ post.url }}</loc>
    {% if post.data.updates %} {% set lastUpdate = post.data.updates | last %}
    <lastmod>{{ lastUpdate.date | machineDate }}</lastmod>
    {% else %}
    <lastmod>{{ post.date | machineDate }}</lastmod>
    {% endif %}
  </url>
  {% endfor %}
</urlset>
